@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

/*product details*/

.single-product{
	margin-top: 80px;
}
.single-product .col-2 img{
	padding: 0;
}
.single-product .col-2{
	padding: 20px;
}
.single-product h4{
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}
.single-product select{
	display: block;
	padding: 10px;
	margin-top: 20px;
}
.single-product input{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	margin-right:10px;
	font-size:10px;
	border: 1px solid #ff523b;
}
input:focus{
	outline: none;
}
.single-product a{
	margin-bottom: 30px;
	border-radius: 45px;
}

#indent{
	color: black;
}
.single-product .fa{
	margin-left: 10px;
}

.small-img-row{
	display: flex;
	justify-content:flex-start;
}
.SmallImg{
		display: flex;
	justify-content:space-between;
}
.small-img-col{
	flex-basis: 24%;
	cursor: pointer;
}


.cart-page{
	margin: 80px auto;
} 
table{
	width: 100%;
 	border-collapse: collapse;
}

.cart-info{
	display: flex;
 	flex-wrap: wrap;
}

th{
	text-align: left;
 	padding: 5px;
 	color: #fff;
 	background: #ff523b;
 	font-weight: normal;
 }
 td{
 	padding: 10px 5px;
 }

td input{
	width: 40px;
	height: 30px;
	padding: 5px;
}

td a{
	color: #ff523b;
	font-size: 12px;

}
td img{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.total-price{
	display: flex;
	justify-content: flex-end;
}
.total-price table{
	border-top: 3px solid #ff523b;
	width: 100%;
	max-width: 430px;
}
td:last-child{
	text-align: right;
}
th:last-child{
	text-align: right;
}

#another{
	background-color: #ff523b;
	color: #fff;
}
#another:hover{
	background: #563434;
}
#back{
	background-color: #D9DDDC;
	color: black;
}
#back:hover{
	background: #563434;
}


/*responsive feature*/

@media only screen and (max-width:600px){
	.row{
		text-align: center;
	}
	.col-2,.col-3.col-4{
		flex-basis: 100%;
	}
	.single-product .row{
		text-align: left;
	}
	.single-product .col-2{
		padding: 20px 0;
	}
	.single-product h1{
		font-size: 26px;
		line-height: 32px;
	}
	.cart-info p{
		display: none;
	}
}

.complete-btn{
	border-radius: 5px;
	width: 100px;
	height: 50px;
	background-color:#ff523b ;
	color: #fff;
	text-transform:uppercase;
}

.complete-btn:hover{
	background-color:#5DBB63;
	transition: 0.8s;
	color: #000;
}
